@import "./common/functions";
.main {
  .el-tabs__nav-wrap::after{
    content: '';
    width: 0;
  }
  .el-tabs__header{
    margin: 0;
  }
  .el-collapse-item__header,
  .el-collapse-item__content,
  .el-collapse-item__wrap{
    background: none;
  }
  .search-container{
    .el-tabs.el-tabs--top{
      height: 40px;
    }
  }
  .main-left{
    .el-collapse-item__wrap{
      border-bottom: none;
    }
    .el-tabs__nav-wrap{
      padding-left: px2vw(10);
    }
    .el-collapse-item__content{
      padding: 0;
    }
    .el-collapse-item__header{
      padding-left: px2vw(10);
    }
  }
  .main-right{
    .el-tabs__nav-scroll{
      display: flex;
      justify-content: center;
    }
    .el-tabs__nav{
      //left: 50%;
      //transform: translateX(-50%) !important;
      //width: 100%;
      //display: flex;
      //justify-content: center;
      .el-tabs__item{
        //flex: 1;
        text-align: center;
        width: 100px;
      }
    }
  }
}
.search{
  .el-input{
    .el-input__inner{
      width: px2vw(260);
      height: px2vw(30);
      border-radius: 15px;
    }
  }
}
.search-container{
  .el-tabs__nav-scroll{
    display: flex;
    justify-content: center;
  }
  .el-tabs__active-bar{
    display: none;
  }
  .el-table__header-wrapper{
    height: px2vw(40);
  }
  .el-table__row{
    .cell{
      .option{
        font-size: 18px;
      }
    }
  }
}
.MusicLibrary{
  .content{
    .recommend{
      .content-left{
        .el-tabs__item{
          //flex: 1;
          text-align: center;
          width: 40px!important;
          padding: 0;
        }
      }
    }
  }
  .el-tabs__active-bar{
    display: none;
  }
  .details{
    .el-tabs__active-bar{
      display: block;
    }
  }
}
